.location>h5{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}
.location>p{
    font-size: 13px;
    font-weight: 400;
}
.vertical-line{
    height: 55px;
    border-left:1px solid lightgrey;
}
.search-div{
    width: 42%;

    padding: 10px 15px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 12px;
    }
    .search-input{
        border:none;
        background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
    }
    #login{
    font-size: 18px;
    font-weight: 400;
    border: none;
    background-color:rgb(248, 248, 248); ;
    }
    #mycart{
     background-color: rgb(12, 131, 31);
    border-radius: 8px;
    cursor: pointer;
    height: 52px;
    width: 112px;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 14px;
    color: rgb(255, 255, 255);
   font-weight: 700;
    }
    .categories{
        width:85%;
    }
    .my-container{
       margin:auto;
        width: 85%;
        overflow-x: auto;
    }
    .my-first-list{
        white-space: nowrap;
    }
    .my-first-list>img{
        padding-inline: 10px;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .my-card{
        width:179px;
        height:330px;
        margin-inline: 10px;
    }
    
    .card-time{
        width:fit-content;        
    border-radius: 4px;
    padding: 0px 4px;
    background-color: rgb(248, 248, 248);
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
    }
    .card-title{
    overflow: hidden;
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 6px;
    }
    .card-weight{
        font-size: 13px;
        /* margin-bottom: 25px; */
        color: rgb(130, 130, 130);
    }
    .card-price{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
    }
    .category-section-row{
        width: 100%;
        overflow-x: scroll;
    }
    .category-section{
    width: 85%;
    margin: auto;
    }
    .my-list{
        white-space: nowrap;
    }
    .category-section>h2{
        padding: 10px;
    }
    .footer{
        width: 85%;
        margin: auto;
    }
    .row-2{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
    }
    .row-3{
        font-size: 15px;
        padding: 10px;
        color: rgb(130, 130, 130);
        text-align: justify;
    }
    .row-2>p{
        font-size: 12px;
        color: rgb(130, 130, 130);
        text-align: justify;
        width: 35%;
    }
    .download{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .social{
        display: flex;
    }
    .social-btn{
        background-color: black;
        color: white;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-inline: 10px;
    }
    .app{
        color:#666666;
        font-weight: 600;
    font-size: 14px;
    margin: 16px;
    }
    .google-play, .app-store{
        background-color: #213b50;
        color: white;
        border-radius: 10px;
        margin: 10px;
        border: none;
        padding: 7px;
    }
    .row-1{
        display: flex;
        justify-content: space-between;
    }
    .links{
        flex:2;
    }
    .categories-2{
        flex:3;
    }
    table{
        width: 100%;
    }
    td{
        font-size: 14px;
        color:#666666;
        padding: 2px 10px;
    }
    .links>h4{
        font-size: 18px;
    }
    .categories>h4{
        font-size: 18px;
    }
